.sidebar{
    width:250px;
    background:#003366;
    color:white;
    min-height:100vh;
    padding:30px 20px;
}

.logo{
    margin-bottom:40px;
}

.sidebar nav{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.sidebar a{
    color:white;
    display:flex;
    align-items:center;
    gap:12px;
    padding:12px;
    border-radius:10px;
    transition:.3s;
}

.sidebar a:hover{
    background:#0055aa;
}