.goal{

margin-bottom:20px;

}

.goal-header{

display:flex;

justify-content:space-between;

margin-bottom:8px;

}

.progress{

height:10px;

background:#ddd;

border-radius:10px;

overflow:hidden;

}

.progress-fill{

height:100%;

background:#28A745;

}